<div class="table-container">
    <p-button label="Primary" [outlined]="true"></p-button>
    <p-table
        [value]="products"
        styleClass="p-datatable-gridlines"
        [rows]="5"
        [showCurrentPageReport]="true"
        [paginator]="true"
        dataKey="code"
        [(selection)]="selectedProducts"
        editMode="row"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Code</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" let-editing="editing">
            <tr [ngClass]="rowIndex % 2 === 0 ? 'odd-row' : ''">
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="product.code" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ product.code }}
                    </ng-template>
                </p-cellEditor>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.name" required />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product.name }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            (click)="onRowEditInit(product)"
                            class="p-button-rounded p-button-text"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pSaveEditableRow
                            icon="pi pi-check"
                            (click)="onRowEditSave(product)"
                            class="p-button-rounded p-button-text p-button-success mr-2"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pCancelEditableRow
                            icon="pi pi-times"
                            (click)="onRowEditCancel(product, rowIndex)"
                            class="p-button-rounded p-button-text p-button-danger"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!--
problems: 
[(selection)]="selectedProducts"                                    in table, selection not recognized
<p-button label="Primary" [outlined]="true"></p-button>             outlined not recognized
                    <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-text p-button-rounded"
                    ></button>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-text p-button-rounded"
                        style="color: red"
                    ></button>
-->
