<!-- <p-dataView #dv [value]="products">
    <ng-template let-item pTemplate="listItem">
        <div>{{ item.name }}</div>
    </ng-template>
</p-dataView> -->
<div class="dataview-container">
    <div class="card">
        <p-dataView #dv [value]="products">
            <ng-template let-item let-first="first" pTemplate="listItem">
                <div class="grid-item" [ngClass]="{ 'first-in-row': first }">
                    <div class="item-content">
                        <div class="text-2xl font-bold text-900">{{ item.name }}</div>
                        <p-rating
                            [(ngModel)]="item.rating"
                            [readonly]="true"
                            [cancel]="false"
                        ></p-rating>
                        <div class="category-and-status">
                            <span class="category">{{ item.category }}</span>
                            <p-tag
                                [value]="item.inventoryStatus"
                                [severity]="getSeverity(item)"
                            ></p-tag>
                        </div>
                        <div class="price-and-cart">
                            <span class="price">{{ '$' + item.price }}</span>
                            <button
                                pButton
                                icon="pi pi-shopping-cart"
                                class="add-to-cart"
                                [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"
                            ></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>
